.vscode/
yolo.code-workspace
.v26/
csv/
pt/
*.log
!log/stub.log
*.csv
*.db
!yolo-kyudo.db
*.pt
!kyudo2_80_modelse_8-96-3.pt
*.xlsx
*.txt
!readme.txt
!requirements.txt
*__.*
_*.*
*.ps1
!_*.ps1
src/*__.* 
src/.ipynb_checkpoints
src/__pycache__
src/*/__pycache__
